<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Facebook Meta Tags -->
    <meta name="theme-color" content="#2b2d31">
    <meta property="og:site_name" content="📸 ✦ <%= uploads %> uploads">
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:url" content="<%= image %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta name="pubdate" content="<%= date %>">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ryuzaki.cloud" />

    <link type="application/json+oembed" href="https://i.e-z.host/nvel5uni.png.json">

    <title><%= title %></title>
  </head>
  <body>
    <img 
    src="<%= image %>" 
    alt="<%= title %>">
  </body>
</html>
